/**
 * PublicApp Screen
 *
 * @author Jeroen Neyt <jeroen.neyt@kahosl.be>
 * @author Jeroen Maes <jeroen.maes@kahosl.be>
 * @author Maxime Jonckheere <maxime.jonckheere@kahosl.be>
 *
 */

 .error{
     color:#CC0000;
}
#lic{
    color:#F3B475;
}
.distance{
    font-size: 10px;
}
.clear{
    clear: both;
}


/* Activity */

.activity {
    border-bottom: 1px dotted #7E7770;
    margin-top: 8px;
    min-height: 30px;
}
.activity img {
    float: left;
    margin-right: 15px;
}
.activity p{
    font-size: 12px;
    margin: 0 0 10px 50px;
    min-height: 30px;
}
/* Pub detail */
#pub-information {
  background-color: #efefef;
  margin-bottom: 10px;
  padding-left: 5px;
  border-radius: 10px;
  -moz-border-radius: 10px;
}
#basic {
  float: left;
  max-width: 130px;
}
.people, .checkins {
  float: right;
  width: 50px;
  padding: 20px 5px 0 5px;
  margin: 0 7px 0 7px;
  text-align: center;
  border-left: 2px solid #ffffff;
  height: 60px;
}
.city{
    clear: both;
}

.number {
  font-size: 20px;
  color: #454545;
}

/* Drink detail */

#drink-information {
    -moz-border-radius: 10px;
    background-color: #EFEFEF;
    height: 110px;
    margin-bottom: 10px;
    padding: 10px;
}

#drink-information img {
    float: left;
    margin-right: 15px;
}
#drink-detail h3 {
    color: #454545;
    font-size: 20px;
}

/* User detail */

#user-information {
    -moz-border-radius: 10px;
    background-color: #EFEFEF;
    height: 70px;
    margin-bottom: 10px;
    padding: 10px;
}

#user-information img {
    float: left;
    margin-right: 15px;
}
#user-detail h3 {
    color: #454545;
    font-size: 20px;
}



/* Check in*/
#checkinTabs{
    padding-left: 0;
}
#checkinTabs li{
    clear: both;
    list-style: none;
    border-bottom: 1px dotted #7E7770;
    margin-top: 10px;
}
.drinkPlusMin{
    float: right;
}
.checkinDrink{
    float:left;
    width: 160px;
}
#legalToDrive, #notLegalToDrive, #notAbleLegalToDrive{
    -moz-border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 0;
    text-shadow: 0 0 0;
}
#legalToDrive{
    background: #0BCF00;
}
#notLegalToDrive{
    background: #CF0000;
}
#notAbleLegalToDrive{
    background: #FFFBCF;
}